*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)),url(Images/shopping4.png);
  background-size: cover;
  background-position: center; 
  position: relative;
  background-repeat: no-repeat;
}
.nav-area{
  float: right;
  list-style: none;
  margin-top: 45px;
  padding-right: 10px;
}
.nav-area li{
  display: inline-block;
}
.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
}
.nav-area li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-area li:hover::after{
  width: 100%;
  transition: 0.5s;
}
.nav-area li a:hover{
  background: #f7d2d2;
  color: #333;
  transition: 0.5s;
}
.logo img{
  width: 130px;
  float: left;
  padding-left: 3%;
  padding-top: 1%;
}

.welcome-text{
  width: 93%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.welcome-text h1{
  text-align: center;
  color: #6dc3f5;
  text-transform: uppercase;
  font-size: 40px;
}
.welcome-text a{
  border: 1px solid #fff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
  color: #dcdcf7;
}
.welcome-text a:hover{
  background: #fff;
  color: #1b0bf5;
}
.welcome-text p{
  color: #eaf0d3;
  font-size: 30px;
}

@media(max-width: 700px){
  .welcome-text h1{
    font-size: 20px;
}

@media(max-width: 700px){
  .welcome-text p{
    font-size: 15px;
}






