*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
#header{
  background: black;
  color: white;
  padding-bottom: 10px;
  width: 1350px;
  height: 60px;
  margin-bottom: 15px;
}
.nav-area{
  float: right;
  list-style: none;
  margin-top: 30px;
  padding-right: 10px;
}
.nav-area li{
  display: inline-block;
}
.nav-area li a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 14px;
}

.nav-area li a:hover{
  background: #f7d2d2;
  color: #333;
  transition: 0.5s;
}
#about{
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
  background-color: whitesmoke;
  width: 1330px;
  height: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

#project{
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
  background-color: whitesmoke;
  width: 1330px;
  height: 225px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

#contact{
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
  background-color: whitesmoke;
  width: 1330px;
  height: 400px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

label{
  display: block;
  padding-left: 10px;
}

input[type="text"],input[type="email"]{
  width: 95%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
}
input[type="text"]:hover, input[type="email"]:hover{
  background-color: antiquewhite;
}
button[type="submit"]{
  width: 98%;
  background-color: rgb(40, 248, 51);
  padding: 5px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
}
button[type="submit"]:hover{
  background-color: blue;
}



@media(max-width: 700px){
  .welcome-text h1{
    font-size: 20px;
}

@media(max-width: 700px){
  .welcome-text p{
    font-size: 15px;
}






